@{
    ViewData["Title"] = "Home Page";
}

<div class="card text-center">
    <div class="card-body row">
        <div class="col-lg-8">
            <h3>Group Name Here</h3>
        </div>
        <div class="col-lg-4">
            <div class="row">
                <span>Pencil</span>
            </div>
            <div class="row">
                <span>5/7 Complete</span>
            </div>
        </div>
    </div>
</div>
