@model SignInVM

@section Scripts{
    <script src="~/js/SignIn.js"></script>
}

<div style="flex-direction:row; display:flex; justify-content:space-between">
    <span class="page-header">Sign In</span>
</div>

<hr />

<div class="row">
    <div class="col-md-6 offset-md-3">
        @using (Html.BeginForm("SignIn", "Home", FormMethod.Post, new { id = "SignInForm" }))
        {
            <div class="form-group row">
                <label class="col-md-3 col-form-label" asp-for="Email"></label>
                <input class="col-md-9 form-control" asp-for="Email" />
                <span asp-validation-for="Email" class="text-danger register-validation"></span>
            </div>

            <div class="form-group row">
                <label class="col-md-3 col-form-label" asp-for="Password"></label>
                <input class="col-md-9 form-control" asp-for="Password" />
                <span asp-validation-for="Password" class="text-danger register-validation"></span>
            </div>

            <div style="flex-direction:row; display:flex; justify-content:space-between">
                <span>
                    Don't have an account?
                    <a href="/Register">Click here</a> to sign up.
                </span>
                <button class="btn cs_primary" type="submit">Sign In</button>
            </div>
        }
    </div>
</div>