@model Group

<div class="modal fade" id="addGroupModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New Group</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Create", "Group", FormMethod.Post, new { id = "CreateGroupForm", @class = "post-ajax" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <label for="group-name" class="col-form-label">Group Name:</label>
                        <input asp-for="Data.Name" class="form-control">
                        <span asp-validation-for="Data.Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="manager-text" class="col-form-label">Managers:</label>
                        <div style="display:flex">
                            <input class="form-control col-md-10 no-enter" id="manager-text" />
                            <button class="btn cs_primary col-md-2 CreateGroupForm_AddButton" type="button"
                                    data-datacontainer="ManagersContainer" data-message="Manager already added" data-textfield="manager-text" data-role="Manager">
                                Add
                            </button>
                        </div>
                        <div id="ManagersContainer">
                            @foreach (var manager in Model.Managers)
                            {
                                <div style="flex-direction: row; display: flex; justify-content: flex-end;" data-id="@manager.Key">
                                    <span style="flex-grow:1">@manager.Value.DisplayName (You)</span>
                                    <input hidden name="Users[@manager.Key][DisplayName]" value="@manager.Value.DisplayName" />
                                    <input hidden name="Users[@manager.Key][Roles]" value="Manager" />
                                </div>
                            }
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="writer-text" class="col-form-label">Writers:</label>
                        <div style="display:flex">
                            <input class="form-control col-md-10 no-enter" id="writer-text" />
                            <button class="btn cs_primary col-md-2 CreateGroupForm_AddButton" type="button"
                                    data-datacontainer="WritersContainer" data-message="Writer already added" data-textfield="writer-text" data-role="Writer">
                                Add
                            </button>
                        </div>
                        <div id="WritersContainer"></div>
                    </div>

                    <div class="form-group">
                        <label for="viewer-text" class="col-form-label">Viewers:</label>
                        <div style="display:flex">
                            <input class="form-control col-md-10 no-enter" id="viewer-text" />
                            <button class="btn cs_primary col-md-2 CreateGroupForm_AddButton" type="button"
                                    data-datacontainer="ViewersContainer" data-message="Viewer already added" data-textfield="viewer-text" data-role="Viewer">
                                Add
                            </button>
                        </div>
                        <div id="ViewersContainer"></div>
                    </div>

                    @*Template*@
                    <div id="userTemplate" style="flex-direction: row; display: flex; justify-content: flex-end;" hidden>
                        <span class="nameText" style="flex-grow:1">NAME</span>
                        <input class="displayName" hidden />
                        <input class="roles" hidden />
                        <i class="emailIcon fa fa-envelope" data-toggle="tooltip" data-placement="top" title="Invite email will be sent" style="align-self:center; padding:0 15px"></i>
                        <button class="remove text-danger" type="button">
                            <i class="fa fa-user-times"></i>
                        </button>
                    </div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn cs_primary" form="CreateGroupForm">Submit</button>
            </div>
        </div>
    </div>
</div>