@model DailyExportForm

<div class="modal fade" id="dailyExportFormModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Daily Export</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("DailyExport", "Group", FormMethod.Post, new { id = "DailyExportForm", target="_blank" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <label for="group-name" class="col-form-label">Date:</label>
                        <input asp-for="ExportDate" asp-format="{0:yyyy-MM-dd}" class="form-control hasDatepicker" type="date">
                        <span asp-validation-for="ExportDate" class="text-danger"></span>
                    </div>
                    <input hidden name="GroupId" value="@Model.GroupId" />
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn cs_primary" form="DailyExportForm">Submit</button>
            </div>
        </div>
    </div>
</div>